@page
@model TodoList.Pages.Todo.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TaskModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskModel.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskModel.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskModel.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskModel.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskModel.Completed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskModel.Completed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskModel.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskModel.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskModel.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskModel.UpdatedAt)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TaskModel.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
<<<<<<< HEAD


<script>
    var cf = () => confirm("Confirmer votre opération");
</script>
=======
>>>>>>> ff51e9950b64cc6244f7014f2546f2a08d549ac5
